<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Órdenes</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body class="bg-light">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Crustaseo castarudo</a>
    </div>
</nav>

<div class="login-container">
    <div class="login-card">
        <h3 class="text-center mb-4">Empezar a recibir ordenes</h3>

        <div class="d-flex justify-content-center mb-4">
            <button class="btn btn-primary btn-lg" id="generateOrders">Generar</button>
            <button class="btn btn-success btn-lg ms-3" id="goToKitchen">Ir a Cocina</button>
        </div>



        <div id="message" class="alert alert-dismissible" role="alert" style="display:none;">
            <span id="message-text"></span>
        </div>
    </div>
</div>

<script src="../js/index.js"></script>


</body>
</html>
